/*Parte de cima do site*/
body{
    margin: 0;
}
table, td{
    border: 1px solid black;
}
nav{
    width: 100%;
}
.divNav{
    display: flex;
}
.divNav div{
    flex: 1;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
